In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import itertools
from collections import Counter
# reads in data, sourced from: https://www.covid19data.com.au/data-notes
df = pd.read_csv("cases_daily_aus.csv", )
#adds day column to data table assuming first day, 25 Jan is a Saturday
df.loc[:,"day"] = pd.Series(dict(
    zip([x for x in range(0,169)],
        ['saturday','sunday','monday','tuesday','wednesday','thursday','friday']*100)))
#build table of statistics with convoluted calls to pd.groupby(), sorry!
dayofweek_df = pd.DataFrame(pd.Series(Counter(df.day)))
dayofweek_df.columns = ["# of days"]
dayofweek_df.loc[:, "total cases"] = pd.Series(df.groupby("day").sum().to_dict()['new.cases'])
dayofweek_df.loc[:,"mean cases"] = pd.Series(df.groupby("day").mean().to_dict()['new.cases'])
#output
dayofweek_df.round(1)

           # of days  total cases  mean cases
saturday          25         1603        64.1
sunday            24         1177        49.0
monday            24         1188        49.5
tuesday           24         1382        57.6
wednesday         24         1367        57.0
thursday          24         1382        57.6
friday            24         1504        62.7

In [11]:
df

       Date  new.cases        day
0    25-Jan          4   saturday
1    26-Jan          0     sunday
2    27-Jan          1     monday
3    28-Jan          0    tuesday
4    29-Jan          4  wednesday
..      ...        ...        ...
164   7-Jul        199    tuesday
165   8-Jul        147  wednesday
166   9-Jul        182   thursday
167  10-Jul        307     friday
168  11-Jul        227   saturday

[169 rows x 3 columns]